<h1><strong>Brand: </strong><%= @bottle.brand %></h1>
<h3><strong>Type: </strong><%= @bottle.wine_type %></h3>
<h3><strong>Color: </strong><%= @bottle.color %></h3>
<h3><strong>Year: </strong><%= @bottle.year %></h3>