/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 table, th, td {
    border: 1px solid black;
  }

  h1 {
      font-family: Verdana, Arial;
      color: #521907;
      text-align: center;
      font-size: 2em
  }

  h1.log {
    font-size: 5.2em;
  }

  h3 {
    font-family: Verdana, Arial;
    color: #521907;
    text-align: center;
    font-size: 1em;
  }

  h1.brand {
      margin-bottom: 0.2em;
  }

  h3#main_username {
      margin-top: 0.2em;
  }

  .brand {
    font-family: Audry, Didot, Verdana, Arial;
    font-weight: 900;
  }

  body {
      background-color: #faf5e3;
  }

  label {
    font-family: Times, Verdana, Arial;
    color: #521907;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  label.log {
    width: 9em;
    font-size: 2.0em;
  }

  form {
      margin-left: auto;
      margin-right: auto;
      padding: auto;
      width: 80%;
  }

  /* input {
      display: block;
      margin: auto;
  } */

  input[type="text"] {
      display: block;
      margin: auto;
      border: none;
      font-family: Times, Arial;
      color: #521907;
      border-bottom: 0.1em solid #521907;
      background-color: #faf5e3;
  }

  input.searchbar {
      margin: 0em;
      display: inline;
  }
  input.log[type="text"] {
    display: block;
    margin: auto;
    font-size: 1.2em;
    border-bottom: 0.1em solid #521907;
  }

  input[type="password"] {
    display: block;
    margin: auto;
    border: none;
    font-family: Times, Arial;
    color: #521907;
    font-size: 1.2em;
    border-bottom: 0.1em solid #521907;
    background-color: #faf5e3;
  }

  input[type="submit"] {
    background-color: #efe6ca;
    border-bottom: 0.15em solid #541e12;
    border-right: 0.15em solid #541e12;
  }

  input.log[type="submit"]{
    display: block;
    margin: auto;
    margin-top: 1em;
    width: 6em;
    font-size: 1em
  }

  input.log.new {
    display: block;
    margin: auto;
    width: 10em
  }

  .error {
    font-family: Times, Arial;
    font-weight: bold;
    color: #6d200f;
    border-right: 0.2em solid #942209;
    border-left: 0.2em solid #942209;
    padding: 1em;
    background-color: #efe6c9;
    text-align: center;
  }

  .log.error {
    display: block;
    margin: auto;
    display: flex;
    font-size: 1em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2.5em;
    width: 15em;
  }

  article#home {
    display: flex;
  }

  article#home section.block {
      width: 45%;
      word-wrap: break-word;
      margin: auto;
      height: 30em;
      padding: 0.7em;
      border-left: 0.2em double #a59c7a;
      border-top: 0.2em double #a59c7a;
      border-left: 0.2em double #a59c7a;
      overflow: scroll;
      background-color: #f3eee0;
  }

  div.bottle {
    display: block;
    padding: 0.5em;
    background-color:#e8dccb;
    border-left: 0.3em solid #9c9378;
    width: 15em;
    margin: auto;
  }

  div.trait{
      display: flex;
  }

  .section {
      color: #631808;
  }

  .section.head {
    font-size: 1.5em;
    text-align: center;
  }

  #about p {
    color: #631808;
    text-align: left;
  }

  .trait strong {
      font-family: Times;
      font-weight: bold;
  }

  a {
    font-family: didot;
    color: #521907;
    text-decoration: none;
    text-transform: uppercase;
  }

  .navbar {
    background-color: #e8dccb ;
    display: flex;
    padding: 0;
    width: 100%;
  }

  .navbar div {
    margin: auto;
  }

 .bottle a{

  font-size: .8em;
  font-weight: bold;

 }

 .searchbar {
  /* width: 20em;
  border-top: 10px;
  background-color: #631808; */
 }
  
  .about_block img {
      max-width: auto;
      height: 9.5em;
      margin-left: 1.3em;
      border: 0.2em solid #521907;
  }

  section.about_block {
      display: flex;
  }

  .about_block div p:first-of-type {
      margin-top: 0em;
  }
