<h1> Wine Reviews</h1>

<ul><% @reviews.each do |review| %>
    <%= link_to review.bottle.brand  , review %> - <%= review.rating %> <br>
    <% end %>
</ul>
<br>


    <%= link_to "Create a new review!", new_review_path %>