<h1><%= link_to @review.bottle.bottle_string, @review.bottle %></h1>


<h3> <%= "Rating: #{@review.rating}" %></h3>
<p><%=  "#{@review.content}" %></p>

<% if @review.user.id == session[:user_id]%>
    <div class="links">
        <%= link_to "Delete this review", review_path(@review), method: :delete %>
    </div>
<% end%>